.footer {
	display: grid;
	display: -ms-grid;
	gap: 10px;
	grid-template-columns: repeat(3, 241px);
	-ms-grid-columns: 241px 10px 241px 10px 241px;
	height: 90px;
	grid-template-areas: 
		"footer footer footer";
	-ms-grid-areas: 
		"footer footer footer";
	margin-top: 10px;
	justify-content: center;
}
.footer__text {	
	height: 90px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 20px;	
	display: flex;
	align-items: center;
	color: #000000;
	justify-content: center;
	background-color: #C4C4C4;
	grid-area: footer;
	-ms-grid-area: footer;
	-ms-grid-row:1; 
   	-ms-grid-column:1;
   	-ms-grid-column-span:3;
}

@media (max-width: 480px) {	
	.footer {
		grid-template-columns: 1fr 1fr!important;
		grid-template-areas: 
			"footer footer"!important;
		-ms-grid-template-columns: 1fr 1fr!important;
		-ms-grid-template-areas: 
			"footer footer"!important;
	}
}